# Creates a PR benchmark comment with a comparison to main
name: Benchmark pull requests

on:
  issue_comment:
    types: [created]

permissions:
  contents: read
  issues: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  setup:
    name: Comparative PR benchmark comment
    if:
      github.event.issue.pull_request
      && github.event.issue.state == 'open'
      && (contains(github.event.comment.body, '!benchmark'))
      && (github.event.comment.author_association == 'MEMBER' || github.event.comment.author_association == 'OWNER')
    runs-on: ubuntu-latest
    outputs:
      benches: ${{ steps.bench-params.outputs.benches }}
      env-vars: ${{ steps.bench-params.outputs.env-vars }}
    steps:
      - uses: actions/checkout@v5
      - name: Parse PR comment body
        id: bench-params
        run: |
          # Parse `issue_comment` body
          printf '${{ github.event.comment.body }}' > comment.txt
          BENCH_COMMAND=$(head -n 1 comment.txt | tr -d '\r')
          echo "$BENCH_COMMAND"

          BENCHES=$(echo $BENCH_COMMAND | awk -F'!benchmark ' '{ print $2 }')
          # Set default benches to run if none specified
          BENCHES=${BENCHES:-"template"}
          echo "BENCHES:"
          echo "$BENCHES"
          JSON=$(echo $BENCHES | jq -R -c 'split(" ")')

          echo "JSON:"
          echo "$JSON"

          echo "benches=$JSON" | tee -a $GITHUB_OUTPUT

          # Can't persist env vars between jobs, so we pass them as an output and set them in the next job
          echo "env-vars=$(tail -n +2 comment.txt | tr -d '\r' | tr '\n' ' ')" | tee -a $GITHUB_OUTPUT

  benchmark:
    needs: [ setup ]
    runs-on: warp-ubuntu-latest-x64-16x
    strategy:
      matrix:
        # Runs a job for each benchmark specified in the `issue_comment` input
        bench: ${{ fromJSON(needs.setup.outputs.benches) }}
    outputs:
      benches: ${{ toJSON(matrix.bench) }}
      commit-link: ${{ steps.comment-vars.outputs.commit-link }}
    steps:
      - name: Set env vars
        run: |
          # Overrides default env vars with those specified in the `issue_comment` input if identically named
          for var in ${{ needs.setup.outputs.env-vars }}
          do
            echo "$var" | tee -a $GITHUB_ENV
          done
      - uses: actions/checkout@v5
        # Get base branch of the PR
      - uses: xt0rted/pull-request-comment-branch@v2
        id: base-branch
      - name: Checkout base branch
        uses: actions/checkout@v5
        with:
          ref: ${{ steps.base-branch.outputs.base_ref }}
          path : ${{ github.workspace }}/base
      - name: Run `lake build` on base branch
        uses: leanprover/lean-action@v1
        with:
          lake-package-directory: ${{ github.workspace }}/base
          test: false
      - name: Run bench on base branch
        run: |
          if $(lake run get-exe-targets | grep -q ${{ matrix.bench }}); then
            lake exe ${{ matrix.bench }}
          else
            echo "No matching bench target found on base branch"
          fi
        working-directory: ${{ github.workspace }}/base
      - name: Checkout PR branch
        uses: actions/checkout@v5
        with:
          path: ${{ github.workspace }}/pr
          ref: ${{ steps.base-branch.outputs.head_ref }}
      - name: Run `lake build` on PR branch
        uses: leanprover/lean-action@v1
        with:
          lake-package-directory: ${{ github.workspace }}/pr
          test: false
      - name: Copy base benchmarks into PR dir for comparison
        run: |
          BENCH_DIR_PR=${{ github.workspace }}/pr/.lake/benches
          BENCH_DIR_BASE=${{ github.workspace }}/base/.lake/benches
          mkdir -p $BENCH_DIR_PR
          [ -d $BENCH_DIR_BASE ] && cp -r $BENCH_DIR_BASE/* $BENCH_DIR_PR
          ls $BENCH_DIR_PR/*
      - name: Run bench on PR branch and generate comparison report
        run: |
          BENCH_REPORT=1 lake exe ${{ matrix.bench }}
        working-directory: ${{ github.workspace }}/pr
      - name: Export benchmark comment env vars
        if: always()
        id: comment-vars
        run: |
          SHORT_SHA_PR=$(git rev-parse --short HEAD)
          REPO_URL=${{ github.server_url }}/${{ github.repository }}
          COMMIT_LINK=[\`$SHORT_SHA_PR\`]($REPO_URL/commit/${{ github.sha }})
          WORKFLOW_LINK=[Workflow logs]($REPO_URL/actions/runs/${{ github.run_id }})

          echo "commit-link=$COMMIT_LINK" | tee -a $GITHUB_OUTPUT
          echo "workflow-link=$WORKFLOW_LINK" | tee -a $GITHUB_OUTPUT
        working-directory: ${{ github.workspace }}/pr
      - name: Build benchmark comment body
        if: success()
        run: |
          {
            echo '## Benchmark for `${{ matrix.bench }}` at ${{ steps.comment-vars.outputs.commit-link }}';
            echo "";
            for file in benchmark-report-*.md; do
              cat "$file"
              echo ""
            done
            echo "${{ steps.comment-vars.outputs.workflow-link }}";
          } > ${{ github.workspace }}/comment-body.md
      - name: Upload benchmark report
        if: success()
        uses: actions/upload-artifact@v5
        with:
          name: bench-comment-${{ matrix.bench }}
          path: comment-body.md

  write-comment:
    needs: [ benchmark ]
    if: always()
    runs-on: ubuntu-latest
    strategy:
      matrix:
        bench: ${{ fromJSON(needs.benchmark.outputs.benches) }}
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Download benchmark report
        if: ${{ needs.benchmark.result == "success" }}
        uses: actions/download-artifact@v6
        with:
          name: bench-comment-${{ matrix.bench }}
      - name: Comment on successful run
        if: ${{ needs.benchmark.result == "success" }}
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ github.event.issue.number }}
          body-path: 'comment-body.md'
      - name: Comment on failing run
        if: ${{ needs.benchmark.result == "failure" }}
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            ## Benchmark for `${{ matrix.bench }}` at ${{ needs.benchmark.outputs.commit-link }} failed :x:

            [Workflow logs](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
